<div id="<%= dom_id task %>">
  <ul>
    <div class="card" style="width: 18rem;">
      <div class="card-header">
        <strong>Task Owner: </strong>
        <% if task.owner.og_name != nil %>
          <%= task.owner.og_name %>
        <% else %>
          <%= task.owner.username %>
        <% end %>
      </div>
      <div class="card-header">
        <strong>Description: </strong>
        <%= task.description %>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Due Date:</strong>
          <%= task.due_date.strftime("%m/%d/%Y") %>
        </li>
        <li class="list-group-item"><strong>Due Time:</strong>
          <%= task.due_time.strftime("%I:%M %p") %>
        </li>
        <li class="list-group-item"><strong>Completion:</strong>
          <%= task.completion %>
        </li>
        <li class="list-group-item"><strong>Ping Frequency:</strong>
          <%= task.ping_frequency %>
        </li>
        <li class="list-group-item"><strong>Ping Count:</strong>
          <%= task.pings_count %>
        </li>
        <li class="list-group-item"><strong>Created at:</strong>
          <%= task.created_at.strftime("%m/%d/%Y %I:%M %p") %>
        </li>
        <li class="list-group-item"><strong>Updated at: </strong>
          <%= task.updated_at.strftime("%m/%d/%Y %I:%M %p") %>
        </li>
        <li class="list-group-item"><%= link_to "More details", task %></li>
      </ul>
    </div>
  </ul>
</div>
