<ul>
  <div class="card" style="width: 18rem;">
    <ul class="list-group list-group-horizontal">
      <div class="card-header">
        <strong>Task Owner: </strong>
        <% if task.owner.og_name != nil %>
          <%= task.owner.og_name %>
        <% else %>
          <%= task.owner.username %>
        <% end %>
      </div>
      <li class="list-group-item"><strong>Due Date: </strong><%= task.due_date.strftime("%m/%d/%Y") %></li>
    </ul>
    <ul class="list-group list-group-horizontal">
      <div class="card-header">
        <strong>Description: </strong>
        <%= task.description %>
      </div>
      <li class="list-group-item"><strong>Due Time: </strong><%= task.due_time.strftime("%I:%M %p") %>
      </li>
    </ul>
    <ul class="list-group list-group-horizontal">
      <li class="list-group-item"><strong><button type="button" class="btn btn-warning">Ping me!</button></strong></li>
      <li class="list-group-item"><strong>Current Pings: </strong><%= task.owner.pings_count %></li>
      <li class="list-group-item"><strong>Completion: </strong><%= task.completion %>%</li>
    </ul>
    <% if current_user && current_user.username == task.owner.username %>
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item"><button type="button" class="btn btn-primary"> Done!</button></li>
        <li class="list-group-item">
          <button type="button" class="btn btn-success">
            <%= link_to "More details", task, style: "color: white; text-decoration: none;" %>
          </button>
        </li>
        <li class="list-group-item">
          <%= button_to "Delete Task", task_path(task), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
        </li>
      </ul>
    <% end %>
  </div>
</ul>

<!-- Old Styling -->
<!--
<ul>
  <div class="card" style="width: 18rem;">
    <div class="card-header">
      <strong>Task Owner: </strong>
      <%# if task.owner.og_name != nil %>-->
<%#= task.owner.og_name %>
<%# else %>
<%#= task.owner.username %>
<%# end %>
<!--    </div>
    <div class="card-header">
      <strong>Description: </strong>
      <%#= task.description %>-->
<!--    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Ping me!</li>
      <li class="list-group-item">Due Date: <%#= task.due_date.strftime("%m/%d/%Y") %></li>
      <li class="list-group-item">Due Time: <%#= task.due_time.strftime("%I:%M %p") %></li>
      <li class="list-group-item"><%#= link_to "More details", task %></li>
    </ul>
  </div>
</ul>
-->
