<div class="card" style="width: 65rem; margin-bottom: 20px;">
  <ul class="list-group list-group-horizontal">
    <li class="list-group-item" style="width: 20rem; font-size: 24px; text-align: center; align-items: center; justify-content: center;">
      <strong>Description: </strong> 
      <p></p>
      <%= task.description %>
    </li>
    <li class="list-group-item" style="width: 20rem; font-size: 24px; text-align: center; align-items: center; justify-content: center;">
      <p>
        <strong>Task Owner: </strong>
        <% if task.owner.og_name != nil %>
          <%= task.owner.og_name %>
        <% else %>
          <%= task.owner.username %>
        <% end %>
      </p>
      <p>
        <strong>Due Date: </strong><%= task.due_date.strftime("%m/%d/%Y") %>
      </p>
      <p>
        <strong>Due Time: </strong><%= task.due_time.strftime("%I:%M %p") %>
      </p>
    </li>
    <li class="list-group-item" style="width: 15rem; font-size: 24px; text-align: center; align-items: center; justify-content: center;">
      <p>
        <strong>Current Pings: </strong><%= task.pings_count %>
      </p>
      <p>
        <strong><button type="button" class="btn btn-warning">Ping me!</button></strong>
      </p>
    </li>
    <% if current_user && current_user.username == task.owner.username %>
      <% if task.completion == false %>
        <li class="list-group-item" style="width: 10rem; text-align: center; align-items: center; justify-content: center;">
          <p>
            <button type="button" class="btn btn-success">Done!</button>
          </p>
          <p>
            <button type="button" class="btn btn-secondary">
              <%= link_to "Edit Task", task, style: "color: white; text-decoration: none;" %>
            </button>
          </p>
          <p>
            <%= button_to "Delete Task", task_path(task), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
          </p>
        </li>
      <% else %>
        <li class="list-group-item" style="width: 10rem; text-align: center; align-items: center; justify-content: center;">
          <p>
            <%= button_to "Delete Task", task_path(task), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
          </p>
        </li>
      <% end %>
    <% else %>
      <% if task.owner %>
        <li class="list-group-item" style="width: 20rem; font-size: 24px; text-align: center; align-items: center; justify-content: center;">
          <p>
            <%= link_to "Go to #{task.owner.username.capitalize}'s profile!", user_path(task.owner.username) %>
          </p>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>

<!-- Old Styling -->

<!--<ul>
  <div class="card" style="width: 18rem;">
    <ul class="list-group list-group-horizontal">
      <div class="card-header">
        <strong>Task Owner: </strong>
        <%# if task.owner.og_name != nil %>-->
<%#= task.owner.og_name %>
<%# else %>
<%#= task.owner.username %>
<%# end %>
<!--      </div>
      <li class="list-group-item"><strong>Due Date: </strong><%#= task.due_date.strftime("%m/%d/%Y") %></li>
      <li class="list-group-item"><strong><button type="button" class="btn btn-warning">Ping me!</button></strong></li>
      <li class="list-group-item"><strong>Current Pings: </strong><%#= task.owner.pings_count %></li>
      <%# if current_user && current_user.username == task.owner.username %>-->
<!--        <li class="list-group-item"><button type="button" class="btn btn-primary"> Done!</button></li>-->
<%# end %>
<!--
    </ul>
    <ul class="list-group list-group-horizontal">
      <div class="card-header">
        <strong>Description: </strong>
        <%#= task.description %>-->
<!--      </div>
      <li class="list-group-item"><strong>Due Time: </strong><%#= task.due_time.strftime("%I:%M %p") %>
      </li>
      <%# if current_user && current_user.username == task.owner.username %>-->
<!--        <ul class="list-group list-group-horizontal">
          <li class="list-group-item">
            <button type="button" class="btn btn-success">
              <%#= link_to "More details", task, style: "color: white; text-decoration: none;" %>-->
<!--            </button>
          </li>
          <li class="list-group-item">
            <%#= button_to "Delete Task", task_path(task), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>-->
<!--          </li>
        </ul>
      <%# else %>-->
<!--        <li class="list-group-item">
          <button type="button" class="btn btn-success">
            <%#= link_to "More details", task, style: "color: white; text-decoration: none;" %>-->
<!--          </button>
        </li>
      <%# end %>-->
<!--    </ul>
  </div>
</ul>-->

<!-- Old Completion % -->
<!--      <li class="list-group-item"><strong>Completion: </strong><%#= task.completion %>%</li>-->

<!--
<ul>
  <div class="card" style="width: 18rem;">
    <div class="card-header">
      <strong>Task Owner: </strong>
      <%# if task.owner.og_name != nil %>-->
<%#= task.owner.og_name %>
<%# else %>
<%#= task.owner.username %>
<%# end %>
<!--    </div>
    <div class="card-header">
      <strong>Description: </strong>
      <%#= task.description %>-->
<!--    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Ping me!</li>
      <li class="list-group-item">Due Date: <%#= task.due_date.strftime("%m/%d/%Y") %></li>
      <li class="list-group-item">Due Time: <%#= task.due_time.strftime("%I:%M %p") %></li>
      <li class="list-group-item"><%#= link_to "More details", task %></li>
    </ul>
  </div>
</ul>
-->
