<ul>
  <div class="card" style="width: 18rem;">
    <div class="card-header">
      <%= task.owner.username %>
    </div>
    <div class="card-header">
      <%= task.description %>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Ping me!</li>
      <li class="list-group-item">Due Date: <%= task.due_date.strftime("%m/%d/%Y") %></li>
      <li class="list-group-item">Due Time: <%= task.due_time.strftime("%I:%M %p") %></li>
      <li class="list-group-item"><%= link_to "More details", task %></li>
    </ul>
  </div>
</ul>
