<%= javascript_include_tag 'ping_task', 'toggle_completion' %>
<h1>
  <strong><%= @user.og_name %></strong>
    <% if current_user && current_user.username == @user.username %>
      <% else %>
        <button type="button" class="btn btn-info">Send Friend Request</button>
    <% end %>
</h1>
<p> <strong>Username: </strong><%= @user.username  %> </p>
<p></p>

<ul class="nav nav-tabs nav-fill" style="border: 2px solid #333; border-radius: 10px;">
  <li class="nav-item">
    <%= link_to "My Tasks", my_tasks_path(@user.username), class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Completed Tasks", completed_tasks_path(@user.username), class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Friends' Pinged Tasks", peer_path(@user.username), class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Friends List", user_friends_path(@user.username), class: "nav-link" %>
  </li>
</ul>

<h2><strong>Completed Tasks</strong></h2>

<% current_month = nil %>

<% @user.own_tasks.order(due_date: :asc, due_time: :asc).group_by { |task| task.due_date.month }.each do |month, tasks| %>
  <% tasks_for_month = tasks.select { |task| task.completion } %>
  <% unless tasks_for_month.empty? %>
    <h2><%= tasks.first.due_date.strftime("%B") %></h2>
    <div class="row">
      <% tasks_for_month.each do |task| %>
        <div class="col-md-12">
          <%= render "tasks/task_list", task: task %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
