<h1>
  <strong><%= @user.og_name %></strong>
    <% if current_user && current_user.username == @user.username %>
      <% else %>
        <p></p>
        <button type="button" class="btn btn-info">Send friend Request</button>
    <% end %>
</h1>

<ul class="nav nav-tabs nav-fill" style="border: 2px solid #333; border-radius: 10px;">
  <li class="nav-item">
    <%= link_to "My Tasks", my_tasks_path(@user.username), class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Completed Tasks", completed_tasks_path(@user.username), class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Friends' Pinged Tasks", peer_path(@user.username), class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Friends List", user_friends_path(@user.username), class: "nav-link" %>
  </li>
</ul>

<h2><strong>Friends List</strong></h2>

<ul>
  <% @user.friends.each do |friend| %>
    <ul class="list-group">
      <li class="list-group-item" style="width: 20rem;">
        <%= link_to friend.og_name, user_path(friend.username) %>
      </li>
    </ul>
  <% end %>
</ul>
