<h1>
  <%= @user.og_name %>
</h1>

<h2>My Tasks</h2>

<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <%= link_to "My Tasks", my_tasks_path(@user.username), class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Friends' Pinged Tasks", peer_path(@user.username), class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Friends List", user_friends_path(@user.username), class: "nav-link" %>
  </li>
</ul>

<% @user.own_tasks.order(due_date: :asc, due_time: :asc).in_groups_of(3, false) do |tasks_group| %>
  <div class="row">
    <% tasks_group.compact.each do |task| %>
      <div class="col-md-4">
        <%= render "tasks/task_list", task: task %>
      </div>
    <% end %>
  </div>
<% end %>
