<%= javascript_include_tag 'ping_task' %>
<h1>
  <strong><%= @user.og_name %></strong>
    <% if current_user && current_user.username == @user.username %>
      <% else %>
        <button type="button" class="btn btn-info">Send Friend Request</button>
    <% end %>
</h1>
<p> <strong>Username: </strong><%= @user.username  %> </p>
<p></p>

<ul class="nav nav-tabs nav-fill" style="border: 2px solid #333; border-radius: 10px;">
  <li class="nav-item">
    <%= link_to "My Tasks", my_tasks_path(@user.username), class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Completed Tasks", completed_tasks_path(@user.username), class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Friends' Pinged Tasks", peer_path(@user.username), class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Friends List", user_friends_path(@user.username), class: "nav-link" %>
  </li>
</ul>

<h2><strong>Friends' Pinged Tasks</strong></h2>


<% current_owner = nil %>
<% tasks_by_owner = @user.peer_tasks.order(owner_id: :asc, due_date: :asc, due_time: :asc).group_by(&:owner) %>
<% tasks_by_owner.each do |owner, tasks| %>
  <div class="row">
    <% tasks.compact.each do |task| %>
      <% if current_owner != task.owner %>
        <% current_owner = task.owner %>
        <div class="col-md-12">
          <% if task.owner.og_name.present? %>
            <h3><%= task.owner.og_name %>'s Tasks</h3>
          <% else %>
            <h3><%= task.owner.username %>'s Tasks</h3>
          <% end %>
        </div>
      <% end %>
      <div class="col-md-12">
        <%= render "tasks/task_list", task: task %>
      </div>
    <% end %>
  </div>
<% end %>



