<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container d-flex justify-content-between">
    <%= link_to "Taskie", root_path, class: "navbar-brand", style: "padding-right: 20px;" %>
    <%#= image_tag("taskie_doodle.png", alt: "Taskie Logo", style: "height: 60px; width: 100px; padding-right: 20px;") %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!--        <li class="nav-item">-->
        <%#= link_to "All Tasks", tasks_path, class: "nav-link" %>
        <!--        </li>-->
        <% if user_signed_in? %>
          <li class="nav-item", style= "padding-right: 20px;">
            <a href="/tasks/new" class="btn btn-primary">Create New Task</a>
          </li>
          <li class="nav-item">
            <%= link_to "Search for Users", users_path, class: "nav-link" %>
          </li>
        <% else %>
        <% end %>
      </ul>
    </div>
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to current_user.username.capitalize, my_tasks_path(current_user.username), class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "Edit Profile", edit_user_registration_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
            <%= link_to "Sign Out", destroy_user_session_path, data: { "turbo-method": :delete }, method: :delete , class: "nav-link" %>
        </li>
        <%# remove unused closing /li tag%>
        </li>
      <% else %>
      <li class="nav-item">
        <%= link_to "Sign in", new_user_session_path, class: "nav-link" %>
      </li>

      <li class="nav-item">
        <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
      </li>
      <% end %>
    </ul>
</div>
<%# remove unsed closing div tag%>
</div>
</nav>
