<% if user_signed_in? %>
  <div class="text-center">
    <h1>Welcome to Taskie, <%= current_user.username.capitalize %>!</h1>
    <p></p>
    <%= link_to "Create New Task", new_task_path, class: "btn btn-primary" %>
    <p></p>
    <%= link_to "Go to Your Tasks!", my_tasks_path(current_user.username), class: "btn btn-info" %>
    <p></p>
    <%= link_to "Check on your Friends' Tasks!", peer_path(current_user.username), class: "btn btn-light" %>
    <p></p>
    <p class="nav-item">
      <%= link_to "Search for Users", users_path, class: "nav-link" %>
    </p>
  </div>
<% else %>
  <div class="text-center">
    <h1>Welcome to Taskie!</h1>
    <p></p>
  </div>

  <div style="text-align: center; width: 60%; margin: 0 auto;">
    Taskie is a To-Do list that combines the social aspect of accountability (or peer pressure) from your friends to help keep you on track of your goals! Your tasks will be publicly available for only the friends you've added to see. Ping your friends on tasks that they have yet to complete, just be nice about it!
  </div>
  <p></p>
  <ol style="list-style-position: inside; display: flex; flex-direction: column; align-items: center; justify-content: center;">
    <li>Create tasks for yourself!</li>
    <li>Ping your friends, keep them accountable!</li>
    <li>Get more done!</li>
  </ol>
  <p></p>
  <div style="text-align: center; width: 60%; margin: 0 auto;">
    Thank you for checking out Taskie! 
    <p></p>
    ~ Ethan Huang ~
  </div>
  <p></p>
  
  <%#=unused code can be deleted %>
  <!--  <div style="text-align: center;">-->
  <%#= image_tag("taskie_doodle.png", alt: "Taskie Logo") %>
  <!--  </div>-->
  <p></p>
  <div style="text-align: center; width: 60%; margin: 0 auto;">
    P.S. alice, bob, test, and sample are all default users @example.com, please use them to test the app out! 

  </div>
</div>

<% end %>
