<p style="color: green"><%= notice %></p>

<%= render @ping %>

<div>
  <%= link_to "Edit this ping", edit_ping_path(@ping) %> |
  <%= link_to "Back to pings", pings_path %>

  <%= button_to "Destroy this ping", @ping, method: :delete %>
</div>
