<!DOCTYPE html>
<html>
  <head>
  <%# the title should be Taskie %>
    <title>Rails Template</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render partial: "shared/cdn_assets" %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%#= javascript_importmap_tags %>
    <!-- this made my button open twice, but also enables the ping_task but not toggle_completion, also enables sign out-->
  </head>

  <body>
    <%= render partial: "shared/navbar" %>
    <style>
      body{background-color: #f9e8ce; }
    </style>
    <div class="container">
      <div class="row mb-4">
        <div class="col-md-6 offset-md-3">
        <%# this conditional could probaly handled in your flash partial%>
          <% if notice.present? %>
            <%= render partial: "shared/flash", locals: { message: notice, css_class: "success" } %>
          <% end %>

          <% if alert.present? %>
            <%= render partial: "shared/flash", locals: { message: alert, css_class: "danger" } %>
          <% end %>
        </div>
      </div>
      <%= yield %>
    </div>

    <footer style="position: fixed; left: 0; bottom: 0;">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div style="display: flex; align-items: center;">
              <a href="https://github.com/EthanKH" style="margin-right: 10px;">
                <img src="https://cdn-icons-png.flaticon.com/512/733/733609.png" style="height: 50px; width: 50px;" alt="GitHub">
              </a>
              <a href="https://linkedin.com/in/ethanhuang12/" style="margin-left: 10px;">
                <img src="https://cdn-icons-png.flaticon.com/256/174/174857.png" style="height: 50px; width: 50px;" alt="LinkedIn">
              </a>
            </div>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
